h1{
    color: beige;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    background-color: #0c0c0c;
    text-shadow: 12px 4px 12px #c3a31f;
    text-decoration: underline;

}

img{
    width: 300px;
    height: 250px;
}
img:hover{
    opacity: 0.7;
}